.popup__label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    width: 100%;
    cursor: pointer;
    max-width: 358px;
    /* //height: 94px;*/
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup__label {
        font-size: 7px;
        line-height: 10px;
    }
}