.auth__login-welcome {
    /*Заголовок*/
    display: flex;
    max-width: 358px;
    height: 29px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    /* identical to box height */
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}