.button_inactive {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 2px;
}