.elements__card {
    max-width: 282px;
    width: 100%;
    list-style-type: none;
    flex-direction: column;
    justify-content: start;
    display: flex;
    margin-bottom: 15px; /*за счет мусорки проседала карточка вниз*/
}
