.auth__form-login-input-email {
    /* Email */
    width: 352px;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;

    color: #CCCCCC;
    font-weight: 400;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    background: transparent;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    border-style: none;

    border-bottom: 1px solid white;
    padding: 0 0 13px 0;
}

.auth__form-login-input-email {
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}