.auth__form-login-input-password{
    /*буквицы во вводе пароля*/
    width: 352px;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    color: #CCCCCC;

    font-weight: 500;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    background: transparent;
   /* padding-bottom: 13px;*/
}


