.auth__form-login-input-password{
    position: absolute;
    width: 358px;
    height: 14px;
 /*   left: 461px;
    top: 315px;*/


    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.auth__form-login-input-password:hover{
    color: #CCCCCC;}