.auth__form-login-input-password{
    /*буквицы во вводе пароля*/
    width: 352px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-style: normal;
    color: #CCCCCC;
    justify-content: center;
    display: flex;
    font-weight: 500;

}


