/* основная форма cо словами  password email*/
.auth__form-login{
    display: flex;
    width: 358px;
    background: none;
    border: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    align-items: flex-start;
    flex-direction: column;
    line-height: 17px;
    margin: 0 auto;
    justify-content: center;
     color:#CCCCCC;
    padding-bottom:  13px;


}